fastapi
uvicorn[standard]
chromadb
httpx
pydantic
python-multipart
jinja2
requests
pdfplumber
python-docx
PyMuPDF
pytesseract
reportlab
langchain-community
langchain-ollama
langchain
langchain-prompty
pypdf
langdetect
langsmith
pyyaml
scikit-learn
openai
# azure-core
# transformers
# torch
webdriver-manager
selenium
pandas>=2.0.0
openpyxl>=3.1.0
xlrd>=2.0.1
tabulate>=0.9.0